@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-bebas-neue: var(--bebas-neue);
  --font-inter: var(--inter);
  --color-primary: #7FA417;
  --color-light-green: #91bc1b;
  --texto: #fff;
}