@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-bebas-neue: var(--bebas-neue);
  --font-inter: var(--inter);
  --color-primary: #7FA417;
  --color-light-green: #91bc1b;
  --color-background: #1e1e1e;
  --color-background-components: #393939;
  --color-background-hover: #4a4a4a;
  --color-black-opacity: rgba(0, 0, 0, 0.3);
  --color-tooltip: rgba(0, 0, 0, 0.8);
  --texto: #fff;
}

.light {
  --color-background: #ffffff;
  --color-background-components: #e7e7e7;
  --texto: #3f3f3f;
}